/colbert_11_19/
/colbert_11_19_best/
/colbert_12_2/
/colbert_12_11_FlatIP/
/colbert_ans_distill/
/colbert_backup/
/colbert_bak/
/colbert_dpr/
/colbert_t5/
/colbert/modeling/hgcn/
/data/
/Condenser/
/dense_pretrain/
/example/
/idea/
/index/
/retrieval_enrich/
/__pycache__/
/corpus/__pycache__/
/wls/
/awutils/__pycache__/
/tests/